.bash_history
.bash_logout
.bashrc
.cache/
.config/
.dotnet/
.gitconfig
.lesshst
.motd_shown
.npm/
.nvm/
.oh-my-zsh/
.profile
.ssh/
.sudo_as_admin_successful
.vscode-server/
.wget-hsts
.zcompdump
.zcompdump-DESKTOP-LNLJQM6-5.8.1
.zcompdump-DESKTOP-LNLJQM6-5.8.1.zwc
.zsh_history
.zshrc
.zshrc.bck
devacademy/
